img {
    margin-top: 0px;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center 90%;
    margin-top: -16px;
}

.topic_header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.topic_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topic {
    text-align: justify;
    text-justify: inter-word;
    margin: 70px;
    margin-top: 20px;
}

