{% extends 'base.html'%}
{% load static%}
{% block pgtitle%}
Cities 
{% endblock%}
{% block pgstyles%} <link rel='stylesheet' href="{% static 'styles/city_list.css' %}"/> {% endblock%}
{% block content%}
<a href="/">Home</a>
<a href="{% url 'city_create' %}">Add A City</a>
<a href="{% url 'signup' %}">Sign Up</a>
<h1>{{header}}</h1>

<form class="mb-5" method="get">
    <div class="field has-addons">
        <div class="control">
            <input class="input" type="text" name="name" placeholder="name" />
        </div>
        <div class="control">
            <input class="button is-success" type="submit" value="Search" />
        </div>
    </div>
    <a class="button is-dark" href="{% url 'city_list' %}">Clear Search</a>
</form>
<div class="cities-container"> 
    {% for city in cities %}
    <div class="container-city">
        <a href="{% url 'city_detail' city.pk %}">
            <img class="city-image" src="{{city.image}}" alt="{{city.name}}" />
            <h2>{{city.name}}</h2> 
        </a>
            <h3>Population: {{city.population}}</h3>
            <h3>Main Attractions: {{city.attractions}}</h3>
    </div>
    {% endfor %}
</div>
{% endblock%}
