{% extends 'base.html'%}
{% load static%}
{% block pgtitle%}
Cities 
{% endblock%}
{% block pgstyles%} <link rel='stylesheet' href="{% static 'styles/city_list.css' %}"/> {% endblock%}
{% block content%}
<div class="city-container">
    <div class="city-list">
        <form class="mb-5" method="get">
            <div class="field has-addons">
                <div class="control-container">
                    <h5>
                        Search for a city:
                    </h5>
                    <div class="control">
                        <input class="input" type="text" name="name" placeholder="City" />
                        <input class="button is-success" type="submit" value="Search" />
                    </div>
                </div>
            </div>
            <br/>
            <a class="button is-dark" href="{% url 'city_list' %}">Clear Search</a>
        </form>
        <h1 class="queryheader">
        Cities :
        </h1>
        <div class="city-btns">
            {% for city in cities%}
            <button value="{{city.name}}" class="city-btn b1">{{city.name}}</button>
            {% endfor %}
        </div>
    </div>
    <div class="each-city">
        <div class="cities-container"> 
            {% for city in cities %}
            <div value={{city.name}} class="container-city">
                <div class="city-info-container">
                    <a class="city-link" href="{% url 'city_detail' city.pk %}"> 
                        <h2 class="city-name">{{city.name}}</h2> 
                    </a>
                    <p class="city-info">Population: {{city.population}}</h3>
                    <p class="city-info">Main Attractions: {{city.attractions}}</h3>
                </div>
                <a class="city-link" href="{% url 'city_detail' city.pk %}">
                    <img class="city-image" src="{{city.image}}" alt="{{city.name}}" />
                </a>
                <div class="add-post-div">
                    <a href="{% url 'comment_detail' city.pk %}" class="add-post-link"> </a>
                    <img class="add-post-image" src="https://i.imgur.com/skr6ozF.png" />
                </div>
            <div class="city-list-detail">
                <h2 class="city-list-post-header"> Posts </h2> 
                {% for post in city.posts.all %}
                    <div class="city-list-post-container">
                        <img src="{{post.user.profile.image}}" /> 
                        <h5 class="city-list-post-content city-list-post-username">@{{post.user}} </h5>
                        <h2 class="city-list-post-content list-post-content"><b>{{post.title}}</b></h2>
                        <br />
                        <p class="city-list-post-content list-post-content">{{post.body}}</p>
                        <br />
                        <div class="edit-delete-container">
                            <a href="{% url 'post_update' post.pk %}" class="button editlink city-list-post-content"> Update Post </a>
                            <a href="{% url 'post_delete' post.pk %}" class="button  city-list-post-content"> Delete Post </a>
                        </div>
                    </div>
                    {% empty %}
                        <div class="city-list-post-container">
                            <p class="city-list-post-content ">No Comments To Show</p>
                        </div>
                    {% endfor %}
            </div>
        </div>
        {% endfor %}
        </div> 
    </div>
</div>

{% endblock%}
{% comment %} <a href="/">Home</a>
<a href="{% url 'city_create' %}">Add A City</a>
<h1>{{header}}</h1>

<form class="mb-5" method="get">
    <div class="field has-addons">
        <div class="control">
            <input class="input" type="text" name="name" placeholder="name" />
        </div>
        <div class="control">
            <input class="button is-success" type="submit" value="Search" />
        </div>
    </div>
    <a class="button is-dark" href="{% url 'city_list' %}">Clear Search</a>
</form>
<div class="cities-container"> 
    {% for city in cities %}
    <div class="container-city">
        <a href="{% url 'city_detail' city.pk %}">
            <img class="city-image" src="{{city.image}}" alt="{{city.name}}" />
            <h2>{{city.name}}</h2> 
        </a>
            <h3>Population: {{city.population}}</h3>
            <h3>Main Attractions: {{city.attractions}}</h3>
    </div>
    {% endfor %}
</div> {% endcomment %}
