{% extends 'base.html' %} 
{% block content %}
<a href="/">Home</a>
<a href="/cities">Back to All Cities</a>
<div>
    <img src="{{city.image}}" alt="{{city.name}}" />
</div>
    <h1>{{city.name}}</h1>
</div>
<div>
    <p>Population: {{city.population}}</p>
    <p>Main Attractions: {{city.attractions}}</p>
</div>
<form class="mb-5" action="{% url 'post_create' city.pk %}" method="post">
    {% csrf_token %}
    <div class="field has-addons">
        <div class="control">
            <input
                class="input"
                type="text"
                name="title"
                placeholder="Title"
                required
            />
        </div>
        <div class="control">
            <input
                class="input"
                type="text"
                name="body"
                placeholder="Your comment here"
                required
            />
        </div>
        <div class="control">
            <input class="button is-primary" type="submit" value="Add Comment" />
        </div>
    </div>
</form>
<div>
    <h3>Comments</h3>
    <div>
        {% for post in city.posts.all %}
        <h2>{{post.user.username}} posted:</h2>
        <span><b>{{post.title}}</b></span>
        <br />
        <span>{{post.body}}</span>
        <br />
        <div>
            <a href="{% url 'post_update' post.pk %}" class="button"> Update Post
            <a href="{% url 'post_delete' post.pk %}" class="button"> Delete Post
        </div>
    </div>
		{% empty %}
    <div>
        <p>No Comments To Show</p>
    </div>
    {% endfor %}
</div>
<div>
    <br />
    <a href="{% url 'city_update' city.pk %}" class="button"> Update City
    <a href="{% url 'city_delete' city.pk %}" class="button"> Delete City
</div>

{% endblock %}